{#
左边栏
#}
<ul class="kj-nav" id="left-bar">
  <li data-section="track"><a href="/track/overview/">歌曲库管理</a>
    <ul class="kj-subnav">
      <li><a href="#">曲库管理</a></li>
      <li><a href="/track/tag/">标签管理</a></li>
      <li><a href="#">上下架管理</a></li>
    </ul>
  </li>
  <li data-section="order"><a href="/order/overview/">订单管理</a>
    <ul class="kj-subnav">
      <li><a href="/order/list/">订单列表</a></li>
    </ul>
  </li>
  <li data-section="operation"><a href="/operation/overview/">运营管理</a>
    <ul class="kj-subnav">
      <li><a href="#">首页管理</a></li>
      <li><a href="#">用户管理</a></li>
    </ul>
  </li>
  <li data-section="analysis"><a href="/analysis/overview/">数据统计</a>
    <ul class="kj-subnav">
      <li><a href="#">订单数据</a></li>
      <li><a href="#">财务数据</a></li>
    </ul>
  </li>
  <li data-section="review"><a href="/review/overview/">审核管理</a>
    <ul class="kj-subnav">
      <li><a href="#">发票审核</a></li>
      <li><a href="#">合同导出</a></li>
    </ul>
  </li>
</ul>
